body {
    background-color:DimGrey;
  }
  
  h1 {
    color:Lavender;
    text-align: center;
    font-family: 'Segoe UI';
  }
  
  tr {
    font-family: 'Segoe UI';
    font-size: 20px;
  }

  th {
    background-color: RebeccaPurple;
    color: lavender;
  }